@model List<ABC_University.Models.Course>
@{
    ViewBag.Title = "Index";
}
<h2>Room Index</h2>

<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        @foreach (var item in Model)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @item.courseName
                        </h4>
                        
                    </div>
                </div>
            </div>


        }
    </div>
</div>

